{{>header}}
{{>navbar}}
<section class="container my-3">
    <div class="text-right">
        <a href="/deleteAll" class="btn btn-danger my-3">Delete All</a>
    </div>
    <table class="table table-bordered">
        <thead>
            <th>#</th>
            <th>name</th>
            <th>age</th>
            <th>email</th>
            <th>Actions</th>
        </thead>
        <tbody>
            {{#if noData}}
            <tr class="alert alert-danger">
                <td colspan="5">No Users Yet</td>
            </tr>
            {{else}}
        {{#each allUsers}}
            <tr>
                <td>{{this.id}}</td>
                <td>{{this.name}}</td>
                <td>{{this.age}}</td>
                <td>{{this.email}}</td>
                <td>
                    <a href="/edit/{{this.id}}" class="btn btn-warning mx-2">edit</a>
                    <a href="/single/{{this.id}}" class="btn btn-primary mx-2">show</a>
                    <a href="/delete/{{this.id}}" class="btn btn-danger mx-2">delete</a>
                </td>
            </tr>
        {{/each}}
        {{/if}}
        </tbody>
    </table>
</section>
{{>footer}}